<router-outlet>
  <div class="row" *ngIf="itemStored.subTotal == 0">
    <div class="col-md-5 text-right">
      <img src="cart.png">
    </div>
    <div class="col-md-5 text-left">
      Your cart is empty... Back to shop!
      <br />
    </div>
  </div>
  <ul class="itemStored" style="list-style: none;">
    <li *ngFor="let item of itemStored.items">
      <div class="row" *ngIf="item.onCart">
        <div class="col-md-2">
          <img src="bag.jpg" />
        </div>
        <div class="col-md-5">
          <strong>{{item.name}}</strong>
          <br />Amount: {{item.amount}}
        </div>
        <div class="col-md-3">
          <h4>{{item.originalPrice * item.amount}} {{item.currency}}</h4> <br>
          <span>{{item.originalPrice}} {{item.currency}}/each</span> <br />
          <span>ID: {{item.id}}</span>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-default" (click)="removeOne(item.id)"> Remove this item </button>
        </div>
      </div>
      <div class="row" *ngIf="item.onCart">
        <hr style="border-color: black;">
      </div>
    </li>

  </ul>
  <div class="row" *ngIf="itemStored.subTotal > 0">
    <div class="col-md-6">
      <button type="button" class="btn btn-warning" (click)="removeAll()"> Empty the cart</button>

    </div>
    <div class="col-md-6 text-right ">Total:
      <h3><strong> {{itemStored.subTotal}} $ </strong></h3><br />
      <button type="button" class="btn btn-danger"> Proceed > </button>
    </div>
  </div>
</router-outlet>