<h3> Items available: </h3>
<br />
<ul class="itemStored" style="list-style: none">
    <li *ngFor="let item of itemStored">
        <div class="row">
            <div class="col-md-2">
                <img src="bag.jpg" />
            </div>
            <div class="col-md-3">
                <strong>{{item.name}}</strong>
                <br />
                {{item.description}}
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-success" (click) = changeCurrency(item.id) >To {{item.otherCurrency}}</button>
            </div>
            <div class="col-md-3">
                <h4>{{item.price}} {{item.currency}}</h4> <br>
                <span>ID: {{item.id}}</span>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info" > Add to the cart! </button>
            </div>
        </div><br />
        <hr style="border-color: black"/>
    </li>
</ul>